{% extends './base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'weather/style.css' %}" />
{% endblock %}


{% block content %}
    <div class="well well-lg">
        <form action="{% url 'weather:subscribe' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Subscribe" class="button" />
        </form>
    </div>
{% endblock %}
