<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Powered Email</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>

<body>

<div class="container">
    <h2>Weather Powered Email</h2>
    <div class="well well-lg">
        <form action="{% url 'subscribe' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Subscribe" />
        </form>
    </div>
</div>

</body>
</html>
